ASA Version 1.2(3) 
!
hostname CISCOASA01
domain-name example.com
!enable password <removed>
!passwd <removed>
names
name 192.168.1.1 CISCOASA01
name 192.168.1.2 CISCOASA02
!
interface GigabitEthernet0/0
 description PHYSICAL_INTERFACE_0
 no nameif
 no security-level
 no ip address
!
interface GigabitEthernet0/0.74
 description VIRTUAL_INTERFACE_0.74
 vlan 74
 nameif INTERNAL
 security-level 70
 ip address 192.168.1.3 255.255.255.0 standby 10.10.1.3
!
interface GigabitEthernet0/0.82
 description VIRTUAL_INTERFACE_0.82
 vlan 82
 nameif DMZ
 security-level 30
 ip address 192.168.1.4 255.255.255.0 standby 10.10.1.4
!
interface GigabitEthernet0/0.83
 description VIRTUAL_INTERFACE_0.83
 vlan 83
 nameif WEB
 security-level 30
 ip address 192.168.1.5 255.255.255.0 standby 10.10.1.5
!
interface GigabitEthernet0/1
 description PHYSICAL_INTERFACE_1
 no nameif
 no security-level
 no ip address
!
interface GigabitEthernet0/1.89
 description VIRTUAL_INTERFACE_1.89
 vlan 89
 nameif DATABASES
 security-level 30
 ip address 192.168.2.3 255.255.255.0 standby 1
!
interface GigabitEthernet0/3
 description LAN FAILOVER
!
interface Management0/0
 nameif MGMT
 security-level 100
 no ip address
 management-only
!
interface GigabitEthernet1/0
 shutdown
 no nameif
 no security-level
 no ip address
!
interface GigabitEthernet1/1
 shutdown
 no nameif
 no security-level
 no ip address
!
interface GigabitEthernet1/2
 shutdown
 no nameif
 no security-level
 no ip address
!
interface GigabitEthernet1/3
 shutdown
 no nameif
 no security-level
 no ip address
!
ftp mode passive
clock timezone EST -3
clock summer-time EDT recurring
dns server-group DEFAULTDNS
 domain-name example.com
same-security-traffic permit inter-interface
same-security-traffic permit intra-interface
object-group network NETWORK_GROUP_01
 description NETWORK_GROUP_01 DESCRIPTION
 network-object host CISCOASA01
 network-object host CISCOASA02
object-group service SERVICE_GROUP_01
 description SOME_PORTS
 service-object tcp eq sunrpc 
 service-object tcp eq nfs 
object-group network NETWORK_GROUP_02
 description GROUP OF NODES
 network-object host 192.168.5.1
 network-object host 192.168.5.2
 network-object host 192.168.5.3
 network-object host 192.168.5.4
 network-object host 192.168.5.5
object-group network NETWORK_GROUP_03
 description NESTED GROUP OF NODES
 network-object 10.10.15.15 255.255.255.0
 group-object NETWORK_GROUP_02
 network-object host 10.10.15.100
 network-object host 10.10.15.101
 network-object host 10.10.15.102
 network-object host 10.10.15.103
 network-object host 10.10.15.194
object-group service SERVICE_GROUP_02
 service-object tcp eq 8888 
object-group service SERVICE_GROUP_03
 service-object tcp eq www 
 service-object tcp eq https 
access-list ACCESS_01 standard permit 192.168.20.1 255.255.255.0 
access-list ACCESS_02 standard permit 192.168.20.2 255.255.255.0
access-list ACCESS_03 extended permit ip object-group NETWORK_GROUP_03 any 
access-list ACCESS_03 remark ###Permit SOME_HOSTS for SOME_SERVICE to 10.10.30.123###
access-list ACCESS_04 extended permit ip 10.10.30.0 255.255.255.0 any 
access-list ACCESS_05 remark ###Permit ICMP###
access-list ACCESS_05 extended permit icmp any any 
access-list ACCESS_06 extended permit ip host 10.10.40.1 host 10.10.40.2
access-list ACCESS_07 extended permit ip host 10.10.40.3 host 10.10.40.4
pager lines 24
logging enable
logging timestamp
logging standby
logging buffer-size 30000
logging monitor notifications
logging buffered warnings
logging trap warnings
logging history warnings
logging asdm informational
logging facility 23
logging queue 1000
logging host SYSLOG01 10.10.12.12
logging host SYSLOG02 10.10.12.15
logging permit-hostdown
no logging message 313005
no logging message 408002
no logging message 419002
no logging message 106017
no logging message 733100
flow-export destination NFLOW01 10.10.12.25 555
mtu DMZ 1500
mtu INTERNAL 1500
mtu WWW 1500
mtu WEB 1500
ip local pool IP_POOL_01 10.10.125.150-10.10.125.250 mask 255.255.255.255
ip local pool IP_POOL_02 192.168.125.150-192.168.125.250 mask 255.255.255.255
failover
failover lan unit primary
failover lan interface failover GigabitEthernet0/3
failover polltime unit 1 holdtime 3
failover polltime interface 10 holdtime 50
failover replication http
failover link failover GigabitEthernet0/3
failover interface ip failover 192.168.5.1 255.255.255.0 standby 192.168.5.2
monitor-interface SPAN_01
monitor-interface SPAN_02
monitor-interface SPAN_03
monitor-interface SPAN_04
monitor-interface SPAN_05
no monitor-interface MGMT
icmp unreachable rate-limit 1 burst-size 1
icmp permit any GROUP_01
icmp permit any GROUP_02
arp timeout 14400
global (DMZ) 80 192.168.1.10
global (INTERNAL) 1 interface
global (INTERNAL) 10 192.168.1.1
global (INTERNAL) 20 192.168.1.2
global (INTERNAL) 30 192.168.1.3
global (INTERNAL) 15 192.168.1.4
nat (WEB) 0 access-list GROUP_01
nat (WEB) 55 access-list GROUP_02
nat (WEB) 40 access-list GROUP_03
nat (DMZ) 0 access-list GROUP_04
nat (DMZ) 1 access-list GROUP_05
nat (INTERNAL) 0 access-list GROUP_06
static (VLAN_01,VLAN_02) tcp 192.168.1.1 smtp access-list SOME_GROUP_01
static (VLAN_03,VLAN_04) tcp 192.168.1.2 smtp access-list SOME_GROUP_02
static (VLAN_05,VLAN_06) 10.10.1.1 CISCOASA01 netmask 255.255.255.255 
static (VLAN_07,VLAN_08) 10.10.1.2 CISCOASA02 netmask 255.255.255.255 
static (VLAN_09,VLAN_10) 192.168.1.1 192.168.1.2 netmask 255.255.255.255 
static (VLAN_11,VLAN_12) 192.168.1.3 192.168.1.4 netmask 255.255.255.255 
access-group GROUP_01 in interface WWW
access-group GROUP_02 in interface WEB
access-group GROUP_03 in interface DMZ
access-group GROUP_04 in interface DMZ
access-group GROUP_05 in interface INTERNAL
!
router eigrp 100
 no auto-summary
 distribute-list Corp-Transit_OUT_DLIST out interface Corp-Transit
 distribute-list Corp-Transit_IN_DLIST in interface Corp-Transit
 distribute-list eigrp_100_distribute_list out
 eigrp router-id 10.10.1.1
 network 10.10.1.2 255.255.255.0
 network 10.10.1.3 255.255.255.0
 network 10.10.1.4 255.255.255.0
 network 10.10.1.5 255.255.255.0
 network 10.10.1.6 255.255.255.0
 passive-interface default
 no passive-interface DMZ
 no passive-interface INTERNAL
 redistribute static
!
route WEB 0.0.0.0 0.0.0.0 10.10.1.1 1
route INTERNAL 10.10.1.2 255.255.224.0 10.10.1.3 250
route WWW 10.10.1.4 255.255.255.0 10.10.1.5 1
route DMZ 10.10.1.6 255.255.255.0 10.10.1.7 1
route INTERNET 10.10.1.8 255.255.255.0 10.10.1.9 1
route PUBLIC 10.10.1.10 255.255.255.0 10.10.1.11 1
timeout xlate 3:00:00
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 0:05:00 h225 1:00:00 mgcp 0:05:00 mgcp-pat 0:05:00
timeout sip 0:30:00 sip_media 0:02:00 sip-invite 0:03:00 sip-disconnect 0:02:00
timeout sip-provisional-media 0:02:00 uauth 0:05:00 absolute
timeout tcp-proxy-reassembly 0:01:00
dynamic-access-policy-record DfltAccessPolicy
aaa-server rad_auth protocol radius
 reactivation-mode depletion deadtime 1
 max-failed-attempts 1
aaa-server rad_auth (VLAN_01) host CISCOASA01
! key  <removed> 
aaa-server acs_auth protocol radius
 reactivation-mode depletion deadtime 1
 max-failed-attempts 1
aaa-server acs_auth (VLAN_01) host 10.10.1.100
! key  <removed> 
aaa authentication ssh console rad_auth LOCAL
aaa authentication enable console rad_auth LOCAL
aaa authentication http console rad_auth LOCAL
http server enable
http 10.10.20.10 255.255.255.0 INTERNAL
http 10.10.20.11 255.255.255.255 INTERNAL
http redirect INTERNAL 80
snmp-server host INTERNAL 192.168.3.4 community publ1c
snmp-server host INTERNAL 192.168.5.6 community publ1c
no snmp-server location
no snmp-server contact
!snmp-server community <removed>
snmp-server enable traps snmp authentication linkup linkdown coldstart
no sysopt connection permit-vpn
service resetoutside
crypto ipsec transform-set ESP-AES-256-SHA esp-aes-256 esp-sha-hmac 
crypto ipsec transform-set ESP-3DES-MD5 esp-3des esp-md5-hmac 
crypto ipsec transform-set ESP-AES-SHA-128 esp-aes esp-sha-hmac 
crypto ipsec security-association lifetime seconds 28800
crypto ipsec security-association lifetime kilobytes 4608000
crypto dynamic-map crypto-ravpn 65535 set pfs group1
crypto dynamic-map crypto-ravpn 65535 set transform-set ESP-AES-256-SHA
crypto map outside_map 20 match address SOME_GROUP_01
crypto map outside_map 20 set peer 192.168.1.1
crypto map outside_map 20 set transform-set ESP-AES-SHA-128
crypto map outside_map 65535 ipsec-isakmp dynamic crypto-ravpn
crypto map outside_map interface SOME_INTERFACE_01
crypto map ExtTransit_map 65535 ipsec-isakmp dynamic crypto-ravpn
crypto ca trustpoint TRUSTED_CA
 enrollment terminal
 crl configure
crypto ca trustpoint EXAMPLE_CA
 keypair EXAMPLE_CA
 crl configure
crypto ca certificate chain EXAMPLE_CA
 certificate ca 0001
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
  quit
crypto ca certificate chain EXAMPLE_CA
 certificate 1234abcde1234abcde
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
    cccccccc 55555555 66666666 77777777 88888888 99999999 00000000 jjjjjjjj 
  quit
crypto isakmp identity address 
crypto isakmp enable INTERNAL
crypto isakmp policy 10
 authentication pre-share
 encryption aes-256
 hash sha
 group 2
 lifetime 86400
crypto isakmp policy 20
 authentication pre-share
 encryption 3des
 hash md5
 group 2
 lifetime 28800
telnet timeout 5
ssh 192.168.1.1 255.255.255.0 INTERNAL
ssh 192.168.1.2 255.255.255.0 WWW
ssh timeout 20
ssh version 2
console timeout 30
management-access INTERNAL
dhcprelay server 192.168.1.1 INTERNAL
dhcprelay enable DMZ
dhcprelay enable WEB
dhcprelay enable INTERNET
dhcprelay timeout 60
!
tls-proxy maximum-session 1000
!
threat-detection basic-threat
threat-detection statistics
threat-detection statistics host number-of-rate 3
threat-detection statistics tcp-intercept rate-interval 30 burst-rate 400 average-rate 200
ntp server 10.10.1.1
ntp server 10.10.1.2
ssl trust-point EXAMPLE_CA DMZ
webvpn
 enable WWW
 anyconnect-essentials
 svc image disk0:/anyconnect-windows-client.pkg 1
 svc image disk0:/anyconnect-linux-client.pkg 2
 svc image disk0:/anyconnect-macosx-client.pkg 3
 svc enable
 tunnel-group-list enable
group-policy GRP_POLICY_01 internal
group-policy GRP_POLICY_01 attributes
 dns-server value 10.1.1.1
 vpn-simultaneous-logins 63
 vpn-idle-timeout 4320
 vpn-session-timeout 4320
 vpn-tunnel-protocol IPSec 
 split-tunnel-policy tunnelspecified
 split-tunnel-network-list value SOME_GROUP_10
 default-domain value example.com
 split-dns value subdomain.example.com internal.lan test.example.com another.example.com 
group-policy GRP_POLICY_02 internal
group-policy GRP_POLICY_02 attributes
 dns-server value 10.1.1.2
 vpn-simultaneous-logins 63
 vpn-idle-timeout 360
 vpn-filter value GRP_VPN
 vpn-tunnel-protocol IPSec 
 split-tunnel-policy tunnelspecified
 split-tunnel-network-list value GRP_TUNNEL
 default-domain value example.com
 split-dns value subdomain.example.com internal.lan test.example.com another.example.com 
!username someuser password <removed>
tunnel-group TUNNEL-ADMINS_01 type remote-access
tunnel-group TUNNEL-ADMINS_01 general-attributes
 address-pool SOME_GROUP_11
 authentication-server-group rad_auth
 default-group-policy GRP_POLICY_00
 password-management password-expire-in-days 5
tunnel-group TUNNEL-GRP_12 ipsec-attributes
! pre-shared-key  <removed> 
tunnel-group TUNNEL-GRP_00 type remote-access
tunnel-group TUNNEL-GRP_00 general-attributes
 address-pool POOL_00
 authentication-server-group rad_auth
 default-group-policy GRP_POLICY_01
 password-management password-expire-in-days 5
tunnel-group TUNNEL-GRP01 ipsec-attributes
! pre-shared-key  <removed> 
tunnel-group TUNNEL-GRP_03 type remote-access
tunnel-group TUNNEL-GRP_03 general-attributes
 address-pool POOL_01
 authentication-server-group acs_auth
 default-group-policy DFLT_GROUP
tunnel-group TUNNEL-GRP_04 webvpn-attributes
 group-alias ALIAS_TUN enable
tunnel-group TUNNEL-GRP_05 ipsec-attributes
! pre-shared-key  <removed> 
tunnel-group TUNNEL_GRP_10 type remote-access
tunnel-group TUNNEL_GRP_10 general-attributes
 address-pool GRP_01
 authentication-server-group rad_auth
 default-group-policy GRP_POLICY_05
 password-management
tunnel-group TUNNEL-GRP ipsec-attributes
! pre-shared-key  <removed> 
tunnel-group 192.168.1.1 type ipsec-l2l
tunnel-group 192.168.1.1 ipsec-attributes
! pre-shared-key  <removed> 
!
class-map dcerpc
 match port tcp eq 135
class-map CMAP_MySQL-Timeout
 match access-list PMAP_MySQL-Timeout
class-map CMAP_NoTCP-Timeout
 match access-list MPF-NO-TCP-Timeout
class-map inspection_default
 match default-inspection-traffic
class-map CONN-LIMIT
 match access-list CONN-LIMIT-LCOM
class-map CMAP_SSH-Timeout
 match access-list PMAP_SSH-Timeout
!
policy-map type inspect dns preset_dns_map
 parameters
  message-length maximum client auto
  message-length maximum server auto
policy-map global_policy
 class inspection_default
  inspect dns preset_dns_map 
  inspect rsh 
  inspect rtsp 
  inspect sunrpc 
  inspect xdmcp 
  inspect sip  
  inspect netbios 
  inspect tftp 
  inspect ip-options 
  inspect icmp 
  inspect ftp 
 class CMAP_MySQL-Timeout
  set connection timeout idle 4:00:00 reset 
 class CMAP_SSH-Timeout
  set connection timeout idle 20:00:00 reset 
 class dcerpc
  inspect dcerpc 
 class CMAP_NoTCP-Timeout
  set connection timeout idle 0:00:00 
 class CONN-LIMIT
  set connection per-client-max 150 per-client-embryonic-max 25 
!
service-policy global_policy global
prompt hostname context 
call-home
 profile CiscoTAC-1
  no active
  destination address http https://tools.cisco.com
  destination address email callhome@cisco.com
  destination transport-method http
  subscribe-to-alert-group diagnostic
  subscribe-to-alert-group environment
  subscribe-to-alert-group inventory periodic monthly
  subscribe-to-alert-group configuration periodic monthly
  subscribe-to-alert-group telemetry periodic daily
: end
